#nav-container {
  text-align: right;
}

.offcanvas-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3%;
}

.offcanvas {
  height: 38%;
  width:20%;
}

.offcanvas-body {
  padding: 0px;
  
}

.tabpanel {
  padding-left: 5%;
  transition: 0.5s;
}

.tabpanel a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color:  black;
  font-weight: lighter;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.tabpanel a:hover {
  color: #805afd;
  background-color: rgb(251, 248, 248);
  cursor: pointer;
}


.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
button:focus:not(:focus-visible) {
  outline: none;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
