#nav-container {
  text-align: right;
}

.offcanvas {
  height: 55%;
  width: 20%;
}

.offcanvas-body {
  padding: 0px;
}

.offcanvas-title {
  font-size: 30px;
  font-weight: bold;
  color: #75d3f0;
}

.tabpanel {
  /* margin-top: 2%; */
  /* position: fixed; */
  padding-left: 10px;
  transition: 0.5s;
}

.tabpanel a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.tabpanel a:hover {
  color: silver;
  cursor: pointer;
}

.tabpanel .closebtn {
  font-size: 2px;
}

.openbtn {
  right: 0;
  font-size: 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  z-index: 99;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
button:focus:not(:focus-visible) {
  outline: none;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
