* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  /* Fonts */
  --section-font: 'Joan', serif;
  --body-font: 'Roboto', sans-serif;

  --primary-color: rgba(249, 240, 240, 0.973);
  --accent-color: rgba(4, 76, 32, 1);
  --offwhite-color: rgb(229, 229, 241);

/* opaque */
  --secondary-color: rgba(31, 67, 45, 0.433);
  --tertiary-color: rgba(19, 26, 58, 0.462);
  /* more opaque for nav background active*/
  --tertiary-color-more-opaque: rgba(69, 76, 107, 0.739);
/* solid */
  --secondary-color-solid: rgba(4, 76, 32, 1);
  --tertiary-color-solid: rgba(12, 29, 107, 0.859);

  --title-font-text: rgb(9, 99, 9);
  --subtitle-font-text: rgb(19, 61, 152);


}

html, body {
  background: url(./assets/sounds/photos/background4.png) no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: var(--body-font);
}

/* animiations */
#sign-up-section {
  opacity: 0;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
}

@keyframes fadeinup {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}