* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --primary-color: rgba(249, 240, 240, 0.973);
  --secondary-color: rgba(54, 50, 50, 0.909);
  /* --tertiary-color: rgba(77, 47, 133, 0.875); */
  --tertiary-color: rgba(55, 31, 100, 0.875);
  --accent-color: rgba(255, 221, 0, 0.864);

}
body {
  background-image: url('./assets/sounds/photos/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;;
}

