/* Styles for form */
#post-form {
    width: 95%;
}

.writePostSection input {
    width: 95%;
}

.writePostSection textarea {
    width: 95%;
    height: 300px;
}

#bad-words-warning {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

.curse-warning-div {
    text-align: center;
}

#postTitle {
    margin-bottom: 0;
}

/* Styles for footer section */
.edit-delete-post-div {
    background-color: var(--tertiary-color);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-mutation-btn{
    font-size: 1.1em;
    padding: 3px 15px;
}

#edit-post-btn {
    background: var(--secondary-color);
    color: white;
    flex: 1;
}

#delete-post-btn {
    background: rgba(171, 22, 22, 0.588);
    color: white;
    flex: 1;
}
#edit-post-btn:hover {
    background: var(--secondary-color-solid);
}
#delete-post-btn:hover {
    background: rgba(171, 22, 22, 1);
}
#edit-post-btn:active {
    background: rgb(13, 24, 46);
    color:white;
}
#delete-post-btn:active {
    background: rgb(13, 24, 46);
    color:white;
}

#view-your-post {
    background: var(--tertiary-color);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    flex: 1;
    border: 1px solid black;
}
#view-your-post:hover {
    background: var(--tertiary-color-solid);
}
#view-your-post:active {
    background: rgb(13, 24, 46);
    color:white;
}


