#post-form {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0;
    animation: fadeinup ease 0.4s forwards;  
    animation-delay: .2s;
}

input.post-title {
    width: 40%;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-weight: lighter;
    font-size: 18px;
    padding-left: 1%;
}

input.post-title:focus {
    outline: none;
}

.writePostDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.writePostInput:focus {
    outline: none;
}

.writePost {
    background-color: transparent !important;
    border-bottom: 1px solid white !important;
    width: 100%;
    border: none;
    margin-top: 5%;
    padding: 0;
    font-weight: lighter;
    font-size: 18px;
    padding-left: 1%;
}

.writePost:focus {
    outline: none;
}

.createPostPage {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    padding-bottom: 4%;
}

.box {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    height: auto;
    background-color: #F9FAFB;
    margin: 0px !important;
    padding: 0px;
    flex-direction: column;
}

.writePostSection {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding:4%;
    Width: 60%;
} 

.createPostBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: white;
    width: 100%;
    background-color: #5680E9;
    height: 40px;
    margin-top: auto;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

#createPostBtn {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    background-color: #5680E9;
    font-size: 22px; 
    font-weight: 600 !important;
}

.modal-header {
    background-image: linear-gradient(to left, #67C7F6, #3B69DA) !important;
    color: white !important;
}

.modal-header .close {
    color: white !important;
    opacity: 1 !important;
}

.modal-footer {
    justify-content: space-between !important;
}

h3 {
    font-weight: 900 !important;
    color: #5680E9;
}

.poster {
    font-weight: 900 !important;
    color: #5680E9;
}

#cardplacement {
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
}

.postButton {
    width: 15%;
    height: 35px;
    background: transparent;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-top: 4%;
}


.postButton:hover {
    background-color:white;
    color: #805afd;
}




@media only screen and (min-width: 768px) {

    .col-md-5{
        min-width: 500px !important;
        
    }

}

@media only screen and (max-width: 1214px) {
    .col-md-7 {
        min-width: 100% !important;
        margin-left: 15px !important;
    }

    #cardplacement {
        top: -132px !important;
    }

    #postsplacement {
        margin-top: -150px !important;
    }

    .col-md-5 {
        min-width: 100% !important;
    }
}