.section-heading {
    position: relative;
    text-align: center;
    font-size: 2.5em;
    font-family: var(--section-font);
    width: 40%;
    padding: 5px 0;
    text-align: center;
    right: 0;
    margin: 50px auto 50px;
    color: var(--title-font-text);
    width: 70%;
    border: 3px solid var(--tertiary-color);
    background-color: var(--offwhite-color);
}

.preview-post-sect {
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-bottom: 50px;
    border: 2px solid black;
    
}

/* Styles for post header */
.preview-post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--secondary-color);
}
.preview-post-header h2,
.preview-post-header h3,
.preview-post-header p,
.preview-post-header h4 {
    margin: 0;
    color: white;
}
.preview-post-header h2 {
    color: var(--subtitle-font-text)
}
.preview-post-header h4 {
    margin-bottom: 5px;
    font-weight: 400;
}
.preview-post-header p {
    font-size: 1.15em;
}

/* Styles for post body */
.post-body-div {
    display: grid;
}

.preview-post-body-locked {
    background-color: var(--primary-color);
    max-height: 200px;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    font-size: 1.1em;
}
.preview-post-body {
    background-color: var(--primary-color);
    max-height: 200px;
    overflow: scroll;
    padding: 15px;
    text-overflow: ellipsis;
    font-size: 1.1em;
}

.preview-post-link {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: var(--tertiary-color);
    padding: 1% 0;
    font-size: 1.3em;
}
.preview-post-link:hover {
    color: var(--accent-color);
}

@media screen and (max-width: 480px) {
    .preview-post-sect {
        width: 100%;
        margin-left: 0;
    }
    .login-form-signup {
        width: 100%;
    }
}