.preview-post-sect {
    display: flex;
    flex-direction: column;
    margin: 5%;
    border: 2px solid black;
}
/* Styles for post header */
.preview-post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--secondary-color);
}
.preview-post-header h2,
.preview-post-header h3,
.preview-post-header p,
.preview-post-header h4 {
    margin: 0;
    color: var(--primary-color)
}
.preview-post-header h2 {
    color: var(--accent-color)
}
.preview-post-header h4 {
    margin-bottom: 5px;
}
.preview-post-header p {
    font-size: 1.15em;
}

/* Styles for post body */
.post-body-div {
    display: grid;
}
.preview-post-body {
    background-color: var(--primary-color);
    max-height: 200px;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    font-size: 1.1em;
    grid-area: 1/1
}
preview-post-body:hover .preview-post-body-overlay {
    background-color: var(--primary-color);
}
/* .preview-post-body-overlay {
    z-index: 3;
    grid-area: 1/1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
} */
.preview-post-body-overlay:hover {
    z-index: 3;
    grid-area: 1/1;
    overflow: hidden;
}
/* Styles for post footer */
.preview-post-footer {
    text-align: center;
    background-color: var(--accent-color);
    padding: 1% 0;
}

.preview-post-link {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: var(--tertiary-color);
    padding: 1% 0;
    font-size: 1.3em;
}
.preview-post-link:hover {
    color: var(--accent-color);
}

