.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.writePostDiv {
    display: flex;
}

 .postButton {
    background-color: #805afd;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 25px;
    text-align: center;
    width: 12%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:-1.5%;
    margin-bottom: 1%;
}

.postButton:hover {
    background-color:white;
    color: #805afd;
}

#post-form {
    margin-bottom: 5%;
}

.writePostSection {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 3%;
    max-width: 100%;

} 

input.post-title {
    width: 25%;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: transparent;
}

input.post-title:focus {
    outline: none;
}

.writePostInput {
    margin-left: 5%;
    width: 600px;
    height: 20px;
    border: none; 
    border-bottom: 1px solid white;
    background-color: transparent;
} 

.writePostInput:focus {
    outline: none;
}

#bad-words-warning {
    margin-left: 10%;
}

.postsSection {
    padding-left: 5%;
}

.friendsSection {
    padding-right: 5%;
}

.friendProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----------- MEDIA QUERIES --------- */
@media only screen and (max-width: 700px) {
    /* .writePostSection {
        width: 85%;
    } */

    #post-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 624px) {
    .writePostSection {
        width: 80%;
    }

    #post-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
