/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.postContainer {
    height: 150px;
    width: 400px;
    border: 1px solid white;
    border-radius: 25px;
    margin-bottom: 10%;
    padding-left: 5%;
    padding-top: 5%;
}

 .postButton {
    background-color: #805afd;
    color: white;
    border: none;
    font-weight: lighter;
    border-radius: 25px;
    margin-left: 2%;
    margin-top: 2%;
    height: 2rem;
    width: 4rem;
    text-align: center;
}

.postButton:hover {
    background-color:white;
    color: #805afd;
}

#post-form {
    margin-top: 500%;
    margin-bottom: 20%;
}

.writePostSection {
    width:120%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
    margin-left: -10%;

} 

input.post-title {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: none;
    margin-bottom: 2%;
    margin-left: 2%;
    padding: 4%;
}

.writePost {
    margin-left: 2%;
    padding: 4%;
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: none; 
} 
