/* body {
  height: 100vh;
  font-family: sans-serif;
} */

.signupPage {
  display: flex;
}

#sign-up-section {
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: center;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
}

@keyframes fadeinup {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

#signup-form {
  border: 1px solid white;
  margin-top: 50%;
  margin-bottom: 57%;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.signupUsername{
  background-color: transparent;
  width: 78%;
  margin-top: -8%;
  margin-bottom: 13%;
  padding: 8px 15px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

input.signupUsername:focus {
  outline:none;
}


.signupEmail, 
.signupPassword{
  background-color: white !important;
  background-color: transparent;
  width: 78%;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
}

::placeholder {
  color: white;
}

.signupText {
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20%;
}

#signup-button {
  width: 50%;
  height: 35px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

#signup-button:hover {
  background-color: white;
  color: transparent;
  color: #956FC7;
}

.signinText {
  font-size: 45px;
}

.signupLinkText {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  padding-top: 14%;
  
}
