#sign-up-section {
  /* position:absolute;
  top: 14.5%;
  left: 34%; */
  opacity: 0;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
}

@keyframes fadeinup {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

#signup-form {
  margin-top: 15%;
  margin-left: 15%;
  border: .5px solid white;
  width: 300px;
  height: 350px;
  border-radius: 10px;
}

.signupUsername,
.signupEmail, 
.signupPassword{
  background-color: white;
  width: 70%;
  height: 1.5%;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 15px 10px;
  border: 0.5px solid #9198e5;
  border-radius: 5px;
}

.signupText {
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -10%;
  /* margin-bottom: 50px; */
}

.signupLabel {
  color: white;
  margin-top: -5%;
  padding-bottom:10%;
  font-size: 30px;
  justify-content: center;
  display: flex;
  /* margin-top: 10px; */
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#signup-button {
  margin-left: 35%;
  margin-top: 5%;
  width: 30%;
  height: 35px;
  justify-content: center;
  display: block;
  background: transparent;
  color: white;
  border: 0.5px solid white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

#signup-button:hover {
  background-color: white;
  color: transparent;
  color: #956FC7;
}

.signinText {
  font-size: 45px;
}

.signupLinkText {
    color: white;
    position: absolute;
    top: 83%;
    left: 45%;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
  
}
