#search-friend-form {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 25px;
}

#sfp-label {
  color: white;
  font-size: 30px;
  padding-bottom: 4%;
}

.search-friend-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  opacity: 0;
  animation: fadeinup ease 0.4s forwards;  
  animation-delay: .2s;
}

#search-bar {
  background-color: transparent !important;
  width: 300px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 25px;
  padding-left: 1%;
  font-weight: lighter;
}

#search-bar:focus {
  outline: none;
}

#search-friend-btn {
  padding: .4em 1.6em;
    background: transparent;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-top: 2%;
  }

#search-friend-btn:hover {
  background-color: white;
  color: transparent;
  color: #956fc7;
  transition: 0.2 ease;
}

#foundFriendDiv {
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  border-radius: 10px;
  margin: 30px;
  width: 300px;
}

#foundFriend {
  margin: 30px;
  color: white;
  font-size: 25px;
}

#addFriendBTN {
  margin: 20px;
  padding: .4em 1.6em;
  background: transparent;
  border: 0.5px solid white;
  font-size: 15px;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in;
}

#addFriendBTN:hover {
  background-color: white;
  color: transparent;
  color: #956fc7;
  transition: 0.2 ease;
}
