#search-friend-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  align-items: center;
}

#sfp-label {
  color: white;
  font-size: 40px;
}

#search-bar {
  width: 25%;
}

#search-friend-btn {
  width: 5%;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  width: 80px;
  color: #9198e5;
}

#search-friend-btn:hover {
  background: #6563c5;
  transition: 0.2s ease-in;
  color: #fff9f9;
  cursor: pointer;
}
