.single-post-container {
    height: 250px;
    width: 300px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 3%;
    overflow: scroll;
    color: white;
}

.likes-container {
    display: flex;
    gap: 11rem
}