.link-el {
    font-size: 1.2em;
    display: inline;
}
.link-el {
    margin-left: 15px;
    padding: 1px;
    border-radius: 3px;
}
ul li .link-el:hover{
    text-decoration: none;
    color: var(--accent-color)
}

.link-el a {
    text-decoration: none;
    font-size: 1.25em;
    color: var(--offwhite-color)
}
nav a.active {
    /* color: var(--accent-color); */
    cursor: pointer;
    background: var(--tertiary-color-more-opaque);
    padding: 0 5px;
}

.navIsActive {
    color: var(--primary-color)
}
.navigation {
    padding: 0.5em;
    
}
.navigation ul {
    padding-left: 0;
}
.mobile-nav {
    display:none;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .navigation {
        display:none;
    }
    .mobile-nav {
        padding: 0.5em;
        display: flex;
        align-items: center;
    }
    .link-el {
        color: var(--offwhite-color);
        margin-left: 5px;
        font-size: 1.2em;
    }
    .link-el:hover{
        text-decoration: none;
        color: var(--accent-color);
    }
    nav a.active {
        color: var(--accent-color);
        cursor: pointer;
    }
    .mobile-nav .hamburger {
        position: absolute;
        right: 5%;
        top: 3%;
        cursor: pointer;
        color: var(--main-color);
    }
    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 65%;
        width: 100%;
        background-color: var(--tertiary-color);
        border-top: 2px solid ;
        border-radius: 5px;
        z-index: 50;
    }
    nav ul li {
        padding-bottom: 15px;
    }
    .section-heading {
        font-size: 2em;
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .navigation {
        display:none;
    }
    .mobile-nav {
        padding: 0.5em;
        display: flex;
        align-items: center;
    }
    .mobile-nav .hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 60%;
        width: 100%;
        background-color: var(--tertiary-color);
        border-top: 2px solid ;
        border-radius: 5px;
    }
    nav ul li {
        padding-bottom: 20px;
    }
    .link-el {
        font-size: 1em;
        padding-bottom: 20px;
        margin-left: 5px;
    }
    .section-heading {
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
}