header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: var(--tertiary-color);
    color: var(--tertiary-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    color: white;
    margin-left: 10px
}

#home-logo {
    margin-left: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.6em
    }
}

