.About-me p{
    text-indent: 20px;
    font-size: 1.3em;
    line-height: 1.5;
    padding: 30px 20px;
    color: white;
    width: 80%;
    background-color: var(--secondary-color);
    margin: 0 auto;
 }

 .About-me p:last-child {
     margin-bottom: 40px;
 }

 @media screen and (max-width: 480px) {
    .About-me p {
        width: 100%;
    }
 }