body {
    height: 100vh;
    display: flex;
    font-family: sans-serif;
  }
  
  #login-section {
    display: flex;
    flex-direction: column;
  }

  #login-form {
    border: .5px solid white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-top: 80%;
    margin-bottom: 60%;
  }

  input#email {
  width: 78%;
  justify-content: center;
  display: flex;
  margin-top: -9%;
  margin-bottom: 5%;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  }

  input#password {
    width: 78%;
    margin-bottom: 15%;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
  }


  .login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20%;
  }
 
  .login-button {
    width: 30%;
    height: 35px;
    background: transparent;
    border: .5px solid white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .login-button:hover {
    background-color: white;
    color: transparent;
    color: #956FC7;
  }
  
  .signinText {
    font-size: 45px;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
    color: white;
  } 

  .loginLinkText {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 14%;
  }
  
.error {
  padding-top:5%;
  font-size: 13px;
  color: rgb(216, 16, 16);
}

