body {
    height: 100vh;
    position: relative;
    font-family: sans-serif;
  }
  
  #login-section {
    position:absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
  }
  
  #login-form {
    border: .5px solid white;
    width: 350px;
    height: 450px;
    border-radius: 10px;
  }

 .loginEmail,
 .loginPassword {
  width: 60%;
  height: 1.5%;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 15px 10px 15px 10px;
  border: none;
  border-radius: 5px;
  }
  
  .signupText {
    margin-bottom: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .loginLabel {
    font-size: 50px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .login-button {
    margin: 10px auto;
    width: 30%;
    height: 35px;
    justify-content: center;
    display: block;
    background: transparent;
    border: .5px solid white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .signupButton:hover {
    background: #6563c5;
    color: #fff9f9;
  }
  
  .signinText {
    font-size: 45px;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .linkText {
    position: absolute;
    left: 33%;
    top: 110%;
    text-align: center;
    font-size: 15px;
  }
  
  /* .login-form label {
    font-size: 50px;
  } */
  
  
  
  .login label {
    color: #fff9f9;
    transform: scale(0.6);
  }
  
