.login-form-signup {
  border: 1px solid black;
  width: 400px;
  padding: 2%;
  margin: 10% auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 15px 40px;
}
.login-form {
  border: 1px solid black;
  width:80%;
  padding: 2%;
  margin: 10% auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 15px 40px;
}
.login-input {
  display: block;
  width: 75%;
  color: black;
  margin: 3% auto;
  margin-bottom: 10%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  letter-spacing: 1px;
}
.login-input:focus{
  outline: none
}
.login-input::placeholder {
  color: black;
}

.login-elements {
  text-align: center;
}

.login-button {
  padding: 2px 20%;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(54, 50, 50);
  font-size: 1.2em;
}


.login-button:hover {
  color: yellow
}

.login-text {
  font-size: 1.2em;
}
.login-link {
  display: block;
  margin: 3% auto 1%;
  text-decoration: none;
  color: black;
  padding: 1px;
  width: 30%;
  border-radius: 10px;
}

.login-link:hover {
  background: yellow
}
.login-link:active {
  color: white
}

.error {
  font-size: 1.3em;
  margin-bottom: 10px;
  color:red;
}
@media screen and (max-width: 480px) {
  .login-form-signup {
      width: 100%;
  }
}